<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-toolbar color="primary">
      <h1>Side Panel</h1>
      <button matTooltip="close Side panel" mat-button
        (click)="opened=!opened"><mat-icon><span>close</span></mat-icon></button>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>Favourites</mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>chat</mat-icon>
        <div matListItemTitle>Messages<span class="notify">2</span></div>
        
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>event</mat-icon>
        <div matListItemTitle>Events</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>photos</mat-icon>
        <div matListItemTitle>Photos</div>
      </mat-list-item>
      <hr>
      <mat-list-item>Pages</mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon><span class="material-symbols-outlined">
          dynamic_feed
          </span></mat-icon>
        <div matListItemTitle>Pages Feed<span class="notify">2</span></div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon><span class="material-symbols-outlined">
          thumb_up
          </span></mat-icon>
        <div matListItemTitle>Like Pages <span class="notify">20+</span></div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button matTooltip="side panel" mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <button matTooltip="icon" mat-button><mat-icon>account_circle</mat-icon></button>
        <span class="heading">My Application</span>

        <form class="form">
          <mat-form-field class="example-full-width">
            <mat-icon><span>Search</span></mat-icon>
            <input matInput value="Search here">
          </mat-form-field>
        </form>

        <span class="example-spacer"></span>
        <button matTooltip="user" mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button matTooltip="message" mat-icon-button class="example-icon"
          aria-label="Example icon-button with share icon">
          <mat-icon>message</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>