.example-spacer {
    flex: 1 1 auto;
  }
  button{
    background-color: transparent;
    border: none;
    color: white;
  }
  .heading{
    margin-left:5px;
  }
  .mat-sidenav-container{
    height:100%;
    color: primary;
  }
  mat-sidenav{
    width:20%;
    color:primary ;
  }
 .notify{
  float: right;
  
 }
  h1{
    margin-right: 80px;
    margin-top: 15px;
  }
  .form{
    width:500px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
    margin-bottom: 68px;
    padding: 0 100px;
    
  }